@import "./styles/base.scss";

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;

  #app {
    --opacity: 1;
    &[data-state="loading"] {
      --opacity: 0.3;
    }
  }
}

a {
  color: blue;
}

h1 {
  margin: 0;
  opacity: var(--opacity);
}

small {
  text-transform: uppercase;
  font-weight: bold;
  opacity: var(--opacity);
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  margin: 16px 0 16px 50%;

  --stager: 0.5s;
  --duration: 2s;
  --delay: calc((var(--duration) + var(--stager)) * var(--i));

  animation: move var(--duration) var(--delay) both;
}

.button {
  appearance: none;
  color: white;
  background: black;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  opacity: var(--opacity);
}

@keyframes move {
  100% {
    transform: translateX(25vw);
  }
}
